{% comment %}
 A popular
{% endcomment %}

<footer role="contentinfo" style="background-color: {{site.data.snippets.background_color[page.lang] }}">
<div class="d-flex flex-wrap justify-content-around align-items-center">
    <div class="footer-descricao"><em>{{site.data.snippets.footer-descricao[page.lang]}}</em></div>
    
{% include social.html %}
<img class="mx-6" src=/assets/sup-branco-fd-trans.svg atl="" height="150">
</div>
<br>
<div class="d-flex flex-wrap justify-content-around align-items-center">
<div>
<img src="{{root}}/assets/apoio/usp.jpg" height="50px">
<img src="{{root}}/assets/apoio/fmvz.jpg" height="50px">
<img src="{{root}}/assets/apoio/vps.png" height="50px">
<img src="{{root}}/assets/apoio/leb.jpg" height="50px">
<img src="{{root}}/assets/apoio/iea.jpg" height="50px">
<img src="{{root}}/assets/apoio/nperiferias.jpg" height="50px">
</div>

</footer>


