{% include translation-links.html %}

<nav class="hide-screen navbar navbar-toggleable-sm navbar-dark bg-dark"
  style="background-color: {{ site.data.snippets.background_color[page.lang] }}" role="navigation">

  
  <div class="navbar-collapse">
  <img class="imagem-menu" src={{site.url}}{{site.baseurl}}/assets/sup-sigla-branco-fd-trans.svg atl="">
  &nbsp;&nbsp;
  
  <a class="navbar-brand" href="{{site.baseurl}}{{site.data.snippets.menu-inicio[page.lang].link}}">{{site.data.snippets.menu-titulo[page.lang]}}</a>
  
  <ul class="nav navbar-nav ml-auto w-100 justify-content-end" role="menubar">

      {% comment %}
      This tries to find the correct corresponding link to give to the language switching buttons in the upper right of
      the page. Where it can find a matching translation/translation_source for the current page in another language,
      that link will be added. If no translation/translation_source for this page is found for a given language, then
      the default "home page" link for that language is used instead.
      {% endcomment %}

      {% assign all_translations = translation_candidates | push: translation_source %}

      <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Language selector">
          {% for lang in site.data.snippets.language-list %}

          {% if page.lang == lang %}
          <a class="btn btn-secondary nav-link active disabled" role="button"
            aria-pressed="true">{{ site.data.snippets.menu-lang[lang].title }}</a>
          {% else %}

          {% assign alternate_target = all_translations | where: "lang", lang | first %}

          {% if alternate_target %}
          <a class="btn btn-secondary nav-link" role="button"
                                                href="{{site.url}}{{site.baseurl}}{{ alternate_target.url }}">{{ site.data.snippets.menu-lang[lang].title }}</a>
          {% else %}
          <a class="btn btn-secondary nav-link" role="button"
            href="{{site.url}}{{site.baseurl}}{{ site.data.snippets.menu-lang[lang].link }}">{{ site.data.snippets.menu-lang[lang].title }}</a>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>

<nav class="hide-print print-header navbar-brand">The Programming Historian </nav>
